The following R packages will be required in this module:

library(rmarkdown) # Knits code and text
library(tidyverse) # Collection of R packages designed for data science
library(tidymodels) # Collection of packages for modelling and machine learning
library(glue) # Formatting strings
library(lubridate) # Parsing and manipulating dates
library(kableExtra) # Generating tables in R
library(patchwork) # Combines multiple plots
library(scales) # Implementing scaling functions
library(summarytools) # Neatly summarizes numerical and categorical data
library(plotly) # Implementing interactive plots
library(glmnet) # Implementing generalized linear models
library(randomForest) # Implementing random forest models
library(xgboost) # Implementing boosted trees models
library(conflicted) # Resolving ambiguous function names
library(here) # A simpler way to find your files
library(paletteer) # Cool color palettes



One can have them installed as:

install.packages(c('rmarkdown', 'tidyverse', 'tidymodels', 'glmnet', 'plotly', 'conflicted', 'randomForest', 'xgboost', 'patchwork', 'paletteer', 'statip', 'summarytools', 'kableExtra', 'here'))
